{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
        <div class="container" style="
        background-color: #f8f9fa; 
        color: black;
        padding: 20px;
        width: 20rem;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        border: 1px solid #ccc;
        border-radius: 8px;
    ">
            <h2 class="mb-4 text-center">Login</h2>
            <form method="post" style="width: 100%;">
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    {{ form.password }}
                </div>

                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
